header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 319px;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.head-top {
    position: absolute;
    top: 69px;
    left: 635px;
    width: 227px;
    height: 23px;
    text-align: left;
    font: 20px/24px Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.head-center {
    position: absolute;
    top: 92px;
    left: 571px;
    right: auto;
    bottom: auto;
    width: 358px;
    height: 48px;
    text-align: center;
    font: Bold 40px/49px Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1
}

.head-botton {
    position: absolute;
    top: 164px;
    left: 476px;
    right: 139.33px;
    bottom: 179.33px;
    width: 548px;
    height: 16px;
    text-align: center;
    font: 14px/16px Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

body {
    position: relative;
}

.links {
    position: absolute;
    top: 230px;
    left: 371px;
}

.links li {
    display: inline-block;
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    margin-right: 40px;
}

.links a {
    font: 14px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
    width: 98px;
    height: 16px;
    line-height: 40px;
}

main {
    position: relative;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 2015px;
}

h2 {
    position: absolute;
    top: 18.263%;
    left: 649px;
    width: 44.4%;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    font: Bold 18px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    padding: 8px 17px 10px;
}

.prod {
    position: absolute;
    top: 21.836%;
    left: 19%;
    width: 931px;
    height: 740px;
    opacity: 1;
}

.prod-change {
    position: absolute;
    top: 21.836%;
    left: 19%;
    width: 931px;
    height: 1480px;
    opacity: 1;
}

.pos1 {
    position: relative;
}

.first-prod {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.img {
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.name-prod {
    position: absolute;
    top: 164px;
    left: 0px;
    width: 111px;
    height: 16px;
    text-align: left;
    font: 14px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
}

.descri {
    position: absolute;
    top: 190px;
    left: 1px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: 12px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
}

.price {
    position: absolute;
    top: 250px;
    left: 1px;
    width: 70px;
    height: 14px;
    text-align: left;
    font: 12px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
}

.discount-price {
    position: absolute;
    top: 270px;
    left: 1px;
    bottom: 61px;
    width: 99px;
    height: 19px;
    text-align: left;
    font: Bold 16px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
}

.parcel {
    position: absolute;
    top: 296px;
    left: 1px;
    width: 88px;
    height: 14px;
    text-align: left;
    font: 12px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
    white-space: nowrap
}

.button {
    position: absolute;
    top: 320px;
    left: 1px;
    width: 200px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font: 16px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    padding: 6px 68px 6px 69px;
}

.second-prod {
    position: absolute;
    top: 0px;
    left: 241px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.third-prod {
    position: absolute;
    top: 0px;
    left: 482px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.fourth-prod {
    position: absolute;
    top: 0px;
    left: 723px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.pos2 {
    position: relative;
}

.first-prod2 {
    position: absolute;
    top: 389px;
    left: 0px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.second-prod2 {
    position: absolute;
    top: 389px;
    left: 241px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.third-prod2 {
    position: absolute;
    top: 389px;
    left: 482px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.fourth-prod2 {
    position: absolute;
    top: 389px;
    left: 723px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.pos-create {
    position: relative;
}

.prod-create0 {
    position: absolute;
    top: 470%; /*57.837%;*/
    left: 0px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.prod-create1 {
    position: absolute;
    top: 470%;
    left: 241px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.prod-create2 {
    position: absolute;
    top: 70%;
    left: 482px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.prod-create3 {
    position: absolute;
    top: 70%;
    left: 723px;
    width: 201px;
    height: 350px;
    opacity: 1;
}

.more-prod {
    position: absolute;
    /*top: 60.645%;*/
    left: 41.333%;
    bottom: 37.419%;
    width: 260px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font: 16px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
    padding: 11px 36px 10px 37px;
}

h3 {
    position: absolute;
    /*top: 70.719%;*/
    bottom: 28.188%;
    left: 43.666%;
    width: 204px;
    height: 22px;
    text-align: left;
    font: Bold 18px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
    white-space: nowrap
}

.form-descr {
    position: absolute;
    /*top: 73.995%;*/
    bottom: 27.146%;
    left: 32.2%;
    margin-top: 39px;
    width: 534px;
    height: 16px;
    text-align: center;
    font: 14px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
}


form {
    position: absolute;
    /*top: 76.724%;*/
    bottom: 22.580%;
    left: 26%;
    width: 720px;
    height: 51px;
    opacity: 1;
}

.name-label{
    width: 112px;
    height: 14px;
    text-align: left;
    font: 12px/14px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
}

.in-name {
    position: absolute;
    display: block;
    width: 340px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-top: 7px;
}

.mail-label {
    margin-left: 268px;
    width: 39px;
    height: 14px;
    text-align: left;
    font: 12px/14px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
}

.in-mail {
    
    display: block;
    margin-left: 380px;
    width: 340px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-top: 7px;
}

.send {
    position: absolute;
    /*top: 81.736%;*/
    bottom: 16.327%;
    left: 41.3333%;
    width: 260px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font: 16px/16px Helvetica;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
    padding: 11px 85px 10px 86px;
}

footer {
    position: absolute;
    top: 1828px;
    left: 0px;
    width: 1500px;
    height: 186.64px;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.foot {
    position: relative;
    top: 64.64px;
    left: 620px;
    width: 260px;
    height: 50px;
    text-align: center;
    font: 12px/18px Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    white-space: pre-line;
}